/*-- fonts --*/


/* ----- */
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ------ */

@font-face {
  font-family: 'VerdureHerbe-Light';
  src: url('../fonts/VerdureHerbe-Light/VerdureHerbe-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VerdureHerbe-Light';
  src: url('../fonts/VerdureHerbe-Light/VerdureHerbe-Light.woff')  format('woff'), url('../fonts/VerdureHerbe-Light/VerdureHerbe-Light.ttf')  format('truetype'), url('../fonts/VerdureHerbe-Light/VerdureHerbe-Light.svg#VerdureHerbe-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*-- Basic --*/

body{
	font: ProximaNova-Regular;
	padding: 0;
	margin: 0;
}

label {
	color: #666;	
	font-size: 17px;
	font-weight: 500;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	color: #eee;
}

/*-- Navbar --*/

.navbar h1, p {
	color: #fff;	
}


/*-- Hacks --*/

.navbar-default {
	border: 0px;
	background: #70a6b7;
	border-bottom: 1px solid #70a6b7;
	border-radius: 0px;	
}

.form-group {
	margin-top: 30px;
	margin-bottom: 0px;	
}

.form-control {
	font-size: 18px;
	padding: 0 0 5px 0;
	border: 0px;
	border-bottom: 1px solid rgba(204, 204, 204, .8);
	box-shadow: none;
	outline: 0;
	border-radius: 0px;
}

.form-control:focus {
	box-shadow: inset 0 0px 1px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
}

.form-control::-webkit-input-placeholder { color: #333; }
.form-control:-moz-placeholder { color: #333; }
.form-control::-moz-placeholder { color: #333; }
.form-control:-ms-input-placeholder { color: #333; }

.radio-inline {
	font-size: 18px;
	white-space: nowrap;	
}
.msg {
    font-size: 20px;
    text-align: center;
}
.validTicket {
    height: 113px;
    background: #9BCD9A;
    display: block;
    text-align: center;
    color: #EA2121;
    font-size: 20px;
    line-height: 37px;
    padding-top: 22px;
}
/*-- Counter --*/

.counter {
	width: auto;
	height: 144px;
	border: 4px solid #fff;
	border-radius: 4px;
	padding: 0 50px;
	text-align:center;
}

/*-- Other --*/

.mar-15 {
	margin: 15px auto;
}

.mar-top-30 {
	margin-top: 30px;	
}

.mar-bot-30 {
	margin-bottom: 30px;	
}

.img-center {
	margin: 0 auto;	
}

/*-- footer --*/

footer {
	background: #70a6b7;
	padding: 30px;	
}

footer p {
	font-size: 16px;
	margin: 0;
	text-align: right;
}

p.modal-text {
    color: #0E0606;
}
.onl_login .onl_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.onl_login .onl_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.onl_login .onl_socialButtons a:hover {
    color: white;
	opacity:1;    	
}

.onl_login .onl_socialButtons .onl_btn-facebook {background: #3b5998;border-color:#172d5e}
.onl_login .onl_socialButtons .onl_btn-twitter {background: #00aced;border-color:#043d52}
.onl_login .onl_socialButtons .onl_btn-google-plus {background: #c32f10;border-color:#6b1301}
.onl_login .onl_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.onl_login .onl_loginOr .onl_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.onl_login .onl_loginOr .onl_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.onl_login .onl_loginForm .input-group.i {
	width: 2em;
}
.onl_login .onl_loginForm  .help-block {
    color: red;
}

summery-title {
    text-align: center;
    background: #337ab7!important;
    color: #337ab7;
    padding: 20px;
    margin: 0;
    font-size: 30px;
}